__pycache__/
*.py[cod]
Include/*
Lib/*
Scripts/*
share/*
pyvenv.cfg
build/*
emd_preprocessing.egg-info/*

result/*
!result/HNSW/.gitkeep
!result/KDTree/.gitkeep
!result/NOTSORTED/.gitkeep

git/*

src/*